@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b182f;
  font-family: "Amaranth", sans-serif;
}

.navbar {
  background-color: #0b182f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.nav-links li {
  list-style: none;
  color: #b4bedf;
  font-size: 1rem;
  padding-left: 10px;
}

.nav-links li span {
  color: #62f9d5;
  margin-right: 7px;
}

.nav-links li:hover {
  color: #62f9d5;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #62f9d5;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
}

.logo-text {
  color: #fff;
  font-size: 2em;
}

.logo-text span {
  color: #62f9d5;
}

.resume {
  cursor: pointer;
  border: 1px solid #62f9d5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  margin-left: 15px;
  text-decoration: none;
  color: #62f9d5;
  font-size: 0.8rem;
  margin-top: -5px;
  transition: 0.5s all;
}

.resume:hover {
  background-color: #62f9d5;
  color: #0b182f;
}

/* INTRODUCTION */
.intro {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
  margin: 0 15rem;
}

.intro h6 {
  color: #62f9d5;
  font-size: 1em;
}

.intro h1 {
  font-size: 5em;
  color: #ccd6f6;
  min-width: 8em;
}

.intro h1:last-of-type {
  color: #8892b0;
}

.intro p {
  color: #828dab;
  min-width: 16rem;
  margin-top: 20px;
  font-size: 1.1rem;
}

.sidelinks {
  display: flex;
  justify-content: space-between;
}

.socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 30rem;
  left: 4rem;
}

.socials a {
  text-decoration: none;
  color: #8892b0;
  font-size: 1.5em;
  padding-top: 20px;
  transition: 0.5s all;
}

.socials a:hover {
  color: #62f9d5;
}

.socials hr {
  border-color: #828dab;
  height: 7.5rem;
  width: 0px;
  margin-left: 10px;
}

.email {
  position: fixed;
  top: 33rem;
  left: 89rem;
  transform: rotate(90deg);
}

.email a {
  text-decoration: none;
  color: #8892b0;
  letter-spacing: 4px;
  transition: 0.5s all;
}

.email a:hover {
  color: #62f9d5;
}

.email hr {
  transform: rotate(-90deg);
  position: fixed;
  border-color: #828dab;
  height: 12rem;
  left: 19rem;
  top: -5.2rem;
}

/* ABOUT */
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 20rem;
}

.about > div:first-of-type {
  display: flex;
}

.about > div:first-of-type h1 {
  color: #fff;
}

.about > div:first-of-type h1 span {
  color: #62f9d5;
  font-size: 25px;
  margin-right: 17px;
}

.about > div:first-of-type hr {
  border-color: #223454;
  width: 20rem;
  height: 0px;
  margin: 22px 0 0 30px;
}

.about-content {
  display: flex;
}

.about-content img {
  position: relative;
  width: 15rem;
  height: 20rem;
  top: -7px;
  right: 10px;
}

.image {
  border: 2px solid #62f9d5;
  height: fit-content;
  margin: 40px 0 0 40px;
}

.about-content div p {
  width: 40rem;
  padding: 10px 0;
  color: #828dab;
  font-size: 20px;
}

.about-content div p span {
  color: #62f9d5;
}

.about-content div ul {
  color: #828dab;
  margin-left: 20px;
}

.about-content div ul li::before {
  content: "\2023";
  color: #62f9d5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .nav-links li {
    font-size: 1.2rem;
    padding: 10px;
  }

  .nav-links li span {
    display: block;
  }

  .burger {
    display: block;
    z-index: 1;
    cursor: pointer;
  }

  .links-container {
    background-color: #112341;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .show-container {
    transform: translateX(0%);
  }

  .resume {
    margin: 10px;
  }

  .sidelinks {
    display: none;
  }

  .intro {
    margin: -3rem 0 15rem 3rem;
    height: 100vh;
  }

  .intro h1 {
    font-size: 2em;
  }

  .intro p {
    width: 22rem;
    margin-top: 20px;
    font-size: 1.1rem;
  }

  .about {
    margin: 0 3rem;
  }

  .about > div:first-of-type h1 {
    font-size: 2em;
  }

  .about > div:first-of-type hr {
    width: 10rem;
    margin: 18px 0 0 30px;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content div p {
    width: 25rem;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-3.5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-3px, -6px);
}
